@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generic Design</title>
    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Template/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Template/css/nprogress.css" rel="stylesheet">
    <link href="~/Template/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Template/css/custom.min.css" rel="stylesheet">
</head>
<body>
    <div class="login">
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <div>
                            <input id="Username" type="text" class="form-control" placeholder="Username" />
                        </div>
                        <div>
                            <input id="Password" type="password" class="form-control" placeholder="Password" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Log in</a>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            document.getElementById("Username").focus();
        };
    </script>
</body>
</html>
